body {
  background: url("../img/Office.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

.bvn {
  padding-top: 30px;
  font-weight: 1000;
  font-size: 50px;
  text-align: center;
  padding-bottom: 50px;
  color: black;
}

.score {
  width: 30%;
  height: 500px;
  background-color: rgb(188, 241, 188, 0.75);
  border-radius: 30px;
  margin-left: 15%;
}

.titre {
  text-align: center;
  font-size: 40px;
  font-weight: 1000;
}

.sound {
  width: 40%;
  height: 500px;
  margin-left: 10%;
  background-color: rgb(188, 241, 188, 0.75);
  border-radius: 30px;
  /* display: inline-block; */
}

.cod {
  width: 40%;
  height: 500px;
  margin-left: 10%;
  background-color: rgb(188, 241, 188, 0.75);
  border-radius: 30px;
  margin-right: 10%;
}

.score1 {
  float: right;
  width: 90%;
  height: 70%;
  padding-right: 50px;
  padding-top: 20px;
  max-height: 55%;
  max-width: 70%;
}

.sound1 {
  float: right;
  width: 80%;
  height: 75%;
  padding-right: 60px;
  padding-top: 40px;
  max-width: 70%;
  max-height: 60%;
}

.cod2 {
  float: right;
  width: 100%;
  height: 75%;
  padding-top: 30px;
  max-height: 55%;
  max-width: 60%;
  padding-right: 85px;
}

.align {
  display: flex;
  text-align: left;
}

.align2 {
  display: flex;
  padding-top: 10%;
}

.score2 {
  width: 35%;
  height: 500px;
  background-color: rgb(188, 241, 188, 0.75);
  border-radius: 30px;
  margin-left: 10%;
  max-height: 300px;
  margin-top: 8%;
}

.texte {
  padding-top: 90px;
  width: 75%;
  padding-left: 50px;
}

.description1 {
  position: absolute;
  padding-left: 25px;
  padding-top: 350px;
}
.description2 {
  padding-left: 25px;
  padding-top: 380px;
  padding-bottom: 15px;
}

.description3 {
  padding-top: 375px;
  padding-left: 25px;
}

.footer {
  width: 100%;
  display: flex;
  height: auto;
  background-color: #070617;
  flex: 1.2;
  margin-top: 200px;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #ffff;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0em;
}

.footer .col :hover {
  color: #ffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  font-weight: bolder;
}

strong{
  font-size:30px
}