body {
  background: url("../img/openspace.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  color: black;

  background-color: white;
}
#HomePage {
  text-align: center;
  text-decoration: none;
}
#LOGO {
  text-align: left;
  background: url("../img/logo.jpg");
}
#container {
  float: center;
  width: 40%;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 70px;
  
}

#login {
  width: 100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: rgb(188, 241, 188, 0.4);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

input[name="Btncx"]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}

input[name="Btncx"] {
  background-color: #53af57;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

p {
  color: whitesmoke;
  font-size: 250%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-family: monospace;
  font-size: 250%;
}
#headerform {
  
  display: flex;
  flex-direction: row;
}
#headerform img {
  width: 70px;
  height: 70px;
  padding-left: 45px;
}

.name{
  color: black;
  font-size:200%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
  float: right;
}

.footer {
  width: 100%;
  display: flex;
  height: auto;
  background-color: #070617;
  flex: 1.2;
 
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;

}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #ffff;
  font-weight:normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
  
}

.clearfix {
  clear: both;
}

  
  
.footer .col  :hover{
  color: #ffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  font-weight:bolder;
}




/* fin footer*/
  